.accordion {
	border-bottom: 1px solid #ccc;
	border-radius: 4px;
	min-width: 300px;
	margin: 10px auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: #213547;
	padding: 0.5px 10px;
	margin: 0;
	transition: background-color 0.3s ease;
}

.accordion:hover {
	background-color: #f9f9f9;
}

.accordion-content {
	padding: 0 5px;
	border-top: 1px solid #ccc;
}

.accordion-content form div,
.accordion-content p {
	margin-bottom: 10px;
}

.accordion-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordion-header h2 {
	margin: 0.5rem 0 0.5rem 0;
}

.accordion-header img {
	width: 3rem;
	height: 2rem;
}

.section-items {
	display: flex;
	flex-direction: column;
}
