.content {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-gap: 1rem;
}

.accordion-content form div.bullet-points {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.accordion-content form div.description {
	align-items: flex-start;
	padding-top: 0.5rem;
}

.accordion-content form div.description-field button {
	padding: 0;
}

#add-bullet {
	padding: 0 1.5rem 0 1.5rem;
	align-self: flex-start;
}

#save-btn:disabled {
	cursor: not-allowed;
}

.accordion-content form div.form-actions {
	justify-content: space-evenly;
}

.required-asterisk {
	color: red;
}

.error-message {
	color: red;
	font-size: 0.875em;
	margin-top: 0.25em;
}

.required-info {
	margin-bottom: 1em;
}
