.accordion-content form div.input-field {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: center;
	margin-bottom: 10px;
	gap: 1rem;
}

.accordion-content form div label {
	text-wrap: nowrap;
}

.item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
